.userImage {
  width: 5%;
}

.userImage img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.userEmail {
  width: 23%;
}

.userName {
  width: 33%;
}

.userReviewCount {
  width: 7%;
}

.userLikeCount {
  width: 7%;
}

.userSignUpDate {
  width: 10%;
}

.userIsLock {
  width: 7%;
}

.userRoles {
  width: 7%;
}
