.image {
  width: 5%;
}

.email {
  width: 23%;
}

.name {
  width: 33%;
}

.reviewCount {
  width: 7%;
}

.likeCount {
  width: 7%;
}

.signUpDate {
  width: 10%;
}

.isLock {
  width: 7%;
}

.roles {
  width: 7%;
}
