.link {
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.selectionLink {
  color: var(--text-color);
}

.selectionLink:hover {
  color: var(--primary-color);
  text-decoration: none;
}
