.reviewCheckbox {
  width: 1%;
}

.creationImage {
  width: 9%;
}

.creationImage img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.reviewTitle {
  width: 35%;
}

.creationTitle {
  width: 35%;
}

.creationCategoryTitle {
  width: 5%;
}

.reviewCreateDate {
  width: 10%;
}

.reviewGrade {
  width: 5%;
}