.imageContainer {
  position: relative;
  padding-bottom: 100%;
}

.imageContainer img {
  position: absolute;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.imageSelection:hover {
  cursor: pointer;
  filter: brightness(90%);
  background-color: var(--surface-hover);
}
